.nav {
    display: flex;
    font-family: Questrial, sans-serif;
    font-size: 1.3rem;
    justify-content: flex-end;
    padding-top: 40px;
    grid-row: 1/2;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 50px 0 0;
    padding: 0;

}

.nav >ul >li {
    list-style-type: none;
    margin: 0 10px;
    padding: 0 10px;
    text-decoration: none;
}

.link-nav{
    text-decoration: none;
    color: black;
}

.link-nav:visited{
    text-decoration: none;
}

.link-nav:hover{
    text-decoration: underline;
}

.link-nav:active {
    text-decoration: underline;
}



