@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.input-text {
    display: flex;
    justify-content: flex-start;
}

::-ms-reveal {
    display: none;
  }

.caixa-texto {
    margin: 1% 0;
    padding: 10px;
    outline: none;
    width: 50vh;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.input-text img {
    width: 18px;
    cursor: pointer;
}

.botao-olho {
    border: none;
    background-color: white;
    margin: 1% 0;
    padding: 1%;
    border-radius: 5px;
}