.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  overflow: auto;
  border-radius: 10px;
  word-wrap: break-word;
  width: 40%;
  font-family: "Nunito", sans-serif;
  padding-bottom: 0.8%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-icon {
  left: 90%;
}

.edit-icon {
  left: 84%;
}

.delete-icon {
  left: 85%;

}

.info-modal {
  padding-left: 5%;   
}

.info-modal > h2 {
  color: #4c6c18;
  font-weight: bolder;
}
.info-modal > h3 {
  font-style: italic;
  padding-bottom: 2%;
  font-weight: lighter;
}

.latitude,
.longitude,
.data,
.descricao-local {
  display: flex;
  font-size: 0.9em;
  padding-top: 3%;
}

.descricao-local > p {
  font-size: 0.9em;
  padding-inline-start: 1%;
}


.modal-edit > h4 {
  padding-bottom: 3%;
  font-style: italic;
  text-align: center;
  font-size: 0.9em;
}

.modal-edit > h3 {
  text-align: center;
  font-size: 1.4em;
}

.edit-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

label {
  font-size: 0.9em;
}
