@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&family=Questrial&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif; */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}