.row {
  display: flex;
  background-color: #fafafa;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 1.5%;
  margin: 2%;
  width: 15rem;
  height: 10rem;
  font-family: "Nunito", sans-serif;
  align-items: center;

  text-align: center;
}

.row:hover {
  transform: scale(1.01);
}

.row > h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

.row > h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-style: italic;
}

.row > p {
  padding-left: 10%;
}

span {
  padding: 5%;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}

#data {
  padding: 2%;
  text-align: end;
}
